body {
  min-height: 100vh;
  max-width: 100%;
}

.navbar {
  position: sticky !important;
  top: 50px !important;
  background-color: white !important;
  font-family: "Times New Roman", serif !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  box-sizing: border-box !important;
  min-height: 30px !important;
  box-shadow: 3px 10px 10px #1a1818a1 !important;
  z-index: 10 !important;
  display: block !important;
  text-decoration: none !important;
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box !important;
}

.logo {
  width: 33%;
  height: 30px;
}

.logo img {
  position: relative;
  top: -50px;
  width: 150px;
  background-color: white;
  border-radius: 50%; /* This makes the element a circle */
  box-shadow: 3px 10px 10px #1a1818a1;
  z-index: 10;
}

li.navLi a {
  font-size: clamp(1.25em, 3vw, 1.5625em);
  padding: 12px;
  text-decoration: none;
}

ul.navLeft {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin: auto;
  width: 33%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " item1 item2 item3";
}

#nav-bar-item1 {
  grid-area: item1;
}
#nav-bar-item2 {
  grid-area: item2;
}
#nav-bar-item3 {
  grid-area: item3;
}

ul.navRight {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  margin: auto;
  width: 33%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: " item4 item5 item6";
}

#nav-bar-item4 {
  grid-area: item4;
}
#nav-bar-item5 {
  grid-area: item5;
}
#nav-bar-item6 {
  grid-area: item6;
}

@media (width > 62.5em) {
  .navbar li.navLi a:hover {
    background-size: 1.875em !important;
    color: black !important;
    position: relative !important;
    z-index: 3 !important;
  }
}

.logo img {
  display: block;
}

@media (width < 62.5em) {
  .logo img {
    width: 100px;
    top: -25px;
  }

  ul.navLeft {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: " item1" "item2" "item3";
  }
  ul.navRight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: " item4" "item5" "item6";
  }
}
#newsHeader {
  grid-area: newsHeader;
}

.btn1 {
  grid-area: btn;
  width: 15.25em;
  height: 2.5em;
  color: black;
  border-radius: 0.25em;
  transition: ease-out 0.3s;
  font-size: clamp(0.3em, 4vw, 1.25em);
  outline: none;
  border: 3px solid blue;
  position: relative;
  z-index: 1;
}

.btn1:hover {
  color: white;
  cursor: pointer;
}

.btn1:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: blue;
}

.btn1:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.news1 {
  position: relative;
  grid-area: news1;
  font-size: clamp(0.3em, 4vw, 1.5625em);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  height: 32rem;
  grid-template-columns: 1fr;
  grid-template-rows: 32em, 1fr;
  place-items: center;
  margin-bottom: -3em;
  grid-template-areas:
    "Aimg1"
    "Alink1";
}
.news2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  grid-area: news2;
  font-size: clamp(0.3em, 4vw, 1.5625em);
  text-decoration: underline;
  text-align: center;
  height: 32rem;
  grid-template-columns: 1fr;
  grid-template-rows: 32em, 1fr;
  place-items: center;
  margin-bottom: -3em;
  grid-template-areas:
    "Aimg2"
    "Alink2";
}
.news3 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  grid-area: news3;
  font-size: clamp(0.3em, 4vw, 1.5625em);
  text-decoration: underline;
  text-align: center;
  height: 32rem;
  grid-template-columns: 1fr;
  grid-template-rows: 32em, 1fr;
  place-items: center;
  margin-bottom: -3em;
  grid-template-areas:
    "Aimg3"
    "Alink3";
}

.articleImg1 {
  grid-area: Aimg1;
  background-color: #f1f1f1;
  height: 60%;
}
.articleImg2 {
  grid-area: Aimg2;
  background-color: #f1f1f1;
  height: 60%;
}
.articleImg3 {
  grid-area: Aimg3;
  background-color: #f1f1f1;
  height: 60%;
}
#articleLink1 {
  grid-area: Alink1;
  display: block;
  background-color: black;
  width: 90%;
  height: 20%;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
#articleLink1:hover {
  text-decoration: none;
}

#articleLink2 {
  grid-area: Alink2;
  display: block;
  background-color: black;
  width: 90%;
  height: 20%;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
#articleLink2:hover {
  text-decoration: none;
}

#articleLink3 {
  grid-area: Alink3;
  display: block;
  background-color: black;
  width: 90%;
  height: 20%;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
#articleLink3:hover {
  text-decoration: none;
}
.footerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  background-color: #363636;
}

.footerContainer .copyright {
  grid-row: span 1;
  grid-column: span 2;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footerContainer .footer-nav-bar-links {
  grid-row: span 2;
  grid-column: span 1;
  text-align: left;
}

.footerContainer a {
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 5px;
  color: white;
  text-decoration: none;
}

.footerContainer a:hover {
  color: gray;
}

.footerContainer .footer-social-links {
  text-align: center;
  color: white;
  padding-top: 10px;
}

#Facebook {
  width: 50px;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
}

/* darkness over pictures */
.dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* adjust darkness */
  z-index: 1;
}

.carousel-caption {
  z-index: 2; /* ensures text sits above the overlay */
}

.partner-logo {
  max-height: 90px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.partner-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}
