/* From Bootstrap's example template */
.marketing {
  margin: 80px 0;
}

.marketing .col-lg-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-12 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.featurette-divider {
  margin: 5rem 0; /* Space between featurettes */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.committies-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.committies-scroller .committies {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;
}
