<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .navbar-nav .nav-link {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.5rem;
      }

      .navbar-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }

      .navbar-brand img {
        max-height: 60px;
      }

      .no-caret::after {
        display: none !important;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
      <div class="container-fluid">
        <!-- Mobile Toggle -->
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <!-- LEFT NAV -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navLeft">
            <li class="navLi">
              <a class="nav-link" href="../Contact-Us/" id="nav-bar-item1"
                >Contact</a
              >
            </li>
            <li class="navLi">
              <a class="nav-link" href="../Events/" id="nav-bar-item2"
                >Events</a
              >
            </li>
            <li class="navLi">
              <a class="nav-link" href="../Donate/" id="nav-bar-item3"
                >Donate</a
              >
            </li>
          </ul>

          <!-- CENTER LOGO -->
          <a class="mx-auto text-center d-none d-lg-block" href="../">
            <div class="logo">
              <img src="../img/Logo.png" alt="Logo" />
            </div>
            <span class="home-text d-none">Home</span>
          </a>

          <ul class="navbar-nav mx-auto my-0 d-lg-none">
            <li class="navLi">
              <a
                class="nav-link"
                href="../"
                style="
                  margin: 0px;
                  position: relative;
                  left: 34%;
                  transition: transformX(-55%);
                "
                >Home</a
              >
            </li>
          </ul>

          <!-- RIGHT NAV -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navRight">
            <li class="navLi">
              <a
                class="nav-link"
                href="https://streatorlodge.printify.me/category/all/1"
                id="nav-bar-item4"
                >Store</a
              >
            </li>

            <li class="navLi">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="offcanvas"
                data-bs-target="#leadershipMenu"
              >
                Leadership
              </a>
            </li>

            <li class="navLi">
              <a class="nav-link" href="../Join Us/" id="nav-bar-item6"
                >Join Us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- NAV offcanvas for Leadership -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="leadershipMenu">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Leadership</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>

      <div class="offcanvas-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a class="text-muted" href="../Officers/">Current Officers</a>
          </li>
          <li class="list-group-item">
            <a class="text-muted" href="../Past_Masters/">Past Masters</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
