.contactinnerPage {
	display: grid;
	place-items: center; /* Centers both horizontally and vertically */
	max-width: 95%;
	grid-template-columns:1fr, 1fr;
	grid-template-rows:1fr;
	grid-template-areas: "info img";
}
.buildImg{
	grid-area: img;
	display: grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr, 1fr, 1fr;
	grid-template-areas: 
	""
	"location"
	"";
}
.buildImg img{
	grid-area: location;
	width: 100%;
	place-items: center;
}

.contactinnerPage .contactInfo h1 {
	color: #032687;
	padding-bottom: .75em;
	padding-top: .75em;
}

.contactInfo {
	grid-area: info;
	padding: 2em;
}


.contactInfo p{
	font-size: 1.25em;
	padding-left: 20px;
}

