.EventCalendar {
	display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;   /* Center vertically */
    height: 100vh;         /* Full height of the viewport */
} 

body h1 {
	margin-top: 75px;
	height: 50px;
	color: #032687;
	text-align: center;
}

.fb-container {
	display: flex;
	width: 100%;
    justify-content: center; 
    align-items: center;

}

.fb-frame {
	width: 500px;
	height: 500px;
}

@media (width < 62.5em) {
	changeSrc();
	.fb-frame {
    width: 300px;
	height: 500px;
  }
}
